
html, body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1a1b29;
}

body {
  max-width: 100vw; 
  margin: 0;
  padding: 0; 
}

#stickyCounter {
  position: sticky;  /* sticky counter */
  top: 0;            
  z-index: 10;       
  background-color: #fff;  
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  max-width: 100vw;  
}

.collectedText {
  font-size: 15px;
  color: #1a1b29;
  text-align: center;

}
header {
  display: grid;
  grid-template-columns: auto 1fr auto auto; 
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #111218;
  max-width: 100vw; 
  box-sizing: border-box; 
}

.websiteIcon {
  height: 50px;
  color: white;
  display: flex;
}


#webTitle {
  font-size: 25px;
  color: white;
  text-align: left;
  margin: 0;
  cursor: pointer;
  width: 8rem;
}

nav {
  justify-self: end;
}

.websiteIcon {
scale: 80%;
cursor: pointer;

}

.filter-container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto; 
  gap: 3rem;
  margin-right: 3rem;
}

.filter-title {
  font-size: 15px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.filter-title:hover {
  background-color: #165f7f;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #2a2f46;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  width: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.3s ease;
}

.filter-dropdown .dropdown-content,
#sortDropdown .dropdown-content {
    display: none;
}

.filter-dropdown .dropdown-content.show,
#sortDropdown .dropdown-content.show {
    display: block;
}


.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
  
}

.dropdown-content div {
  padding: 0.5rem 0;
  font-size: 12px;
  border-radius: 3px; 
  margin-left: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, font-weight 0.3s ease; 
  

}
.dropdown-content div::before {
  content: '';
  display: inline-block;
  width: 6px;
  
}

.dropdown-content div:hover {
  font-weight: bold;
  background-color: #1a1b29;

}

#filterDropdown select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  
}

    #wrapper {
      margin: 0.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Dynamic grid */
      padding-top: 2rem;
      justify-items: center;
      gap: 1rem;

    }
    .animalCardWrapper {
      width: 300px; 
      height: 450px; 
      padding: 1rem;     
      scale: 0.9;
      position: relative; 
      transition: transform 0.4s ease-out; 
    }
    
    .animalCardWrapper:hover {
      box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.86); 
      transition: box-shadow 0.7s ease;
      transform: scale(1.05); 
      transition: transform 0.4s ease; 
    }
    
  .predators{
    background-color: #da5c53;
  }
  .poisonous{
    background-color: #c98a52;
  }
  .reptiles{
    background-color: #3c733c;
  }
  .seaCreatures{
    background-color: #655196;
  }
  .marineGiants{
    background-color: #1d759e;
  }
  .largeMammals{
    background-color: #917a4e;
  }
  .landMammals{
    background-color: #87964c;
  }
  .birds{
    background-color: #329898;
  }



  .animalCard {
    width: 100%; 
    height: 100%; 
    background-image: linear-gradient(rgb(20, 63, 84), rgb(9, 12, 22));
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    position: relative;
}

    .animalCardHeader {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 0.8rem;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
    }

    .animalName {
      font-weight: bold;
    }

    .animalGroupNumber {
      padding: 0.5rem;
      background-color: white;
      color: black;
      display: flex;
      height: 1rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      width: 1.5rem;
      font-weight: bolder;
    }

    .animalIcon {
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 1.5rem;  
      height: 1rem  ;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .iconPredators {
        background-color: #da5c53;
        background-image: url('../main/assets/icon/predator.png');
    }
    
    .iconPoisonous {
        background-color:  #c98a52; 
        background-image: url('../main/assets/icon/poison.png'); ;
    }
    
    .iconReptiles {
        background-color:  #3c733c; 
        background-image: url('../main/assets/icon/reptile.png');
        background-size: 30px;
    }
    
    .iconSeaCreatures {
        background-color: #655196; 
        background-image: url('../main/assets/icon/sea_creatures.png');
        
    }

    .iconMarineGiants {
        background-color: #1d759e; 
        background-image: url('../main/assets/icon/sea_giants.png');
    }

    .iconLargeMammals {
        background-color: #917a4e; 
        background-image: url('../main/assets/icon/large_mammals.png');
        background-size: 30px;
    }

    .iconLandMammals {
        background-color:  #87964c; 
        background-image: url('../main/assets/icon/land_mammals2.png');
    }

    .iconBirds {
        background-color: #329898; 
        background-image: url('../main/assets/icon/bird.png');
        background-size: 30px;

    } 

    
    .animalImage {
      width: 100%;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
      margin-top: 0.3rem;
    }

    .animalDescription {
      font-size: 11px;
      background-color: #2a2f46;
      padding: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 7px;
      text-align: center;
      flex-grow: 1; 
    }

    .animalAttributesWrapper {
      display: flex;
      height: 7rem;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: space-evenly;
      position: absolute; 
      bottom: 1rem; 
      left: 1rem; 
      right: 1rem; 
    }

    .animalAttributesColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 0.5rem;
    } 

    .attributeBox {
      width: 7.5rem;
      height: 1.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 0.5rem;
      background-color: #2a2f46;
      padding: 0rem;
      gap: 1rem;
    
    }

    .attributeBox > img {
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.5rem;
    }
    .attributeValueWeight,
    .attributeValueYears,
    .attributeValueBabies,
    .attributeValueLenght,
    .attributeValueSpeed,
    .attributeValueDeath {
        font-size: 13px;
    }
