main, body {
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow: auto;
  background-color: #1a1b29;
}

/* Header Layout */
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 20px;
  padding: 1rem 2rem;
  background-color: #111218;
}

/* Website Icon */
.websiteIcon {
  width: 100px;
  height: 50px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
}

/* Title (h1) */
h1 {
  font-size: 2rem;
  color: white;
  text-align: left;
  margin: 0;
}

nav {
  justify-self: end;
}

.websiteIcon {
scale: 80%;
}

.filter-container {
  position: relative;
}

/* Filter Text */
.filter-title {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.filter-title:hover {
  background-color: #165f7f;
}

/* Dropdown Content */
.filter-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px; /* Adjust based on font size */
  left: 0;
  background-color: #2a2f46;
  color: white;
  padding:0.3rem;
  border-radius: 5px;
  width: 180px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
}

.filter-dropdown:hover .dropdown-content,
.filter-dropdown:focus-within .dropdown-content {
  display: block;
}

.show {
  display: block;
  opacity: 1;
}


.dropdown-content div {
  padding: 0.5rem 0;
  border-radius: 3px; 
  margin-left: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, font-weight 0.3s ease; 

}
.dropdown-content div::before {
  content: '';
  display: inline-block;
  width: 6px;
}

.dropdown-content div:hover {
  font-weight: bold;
  background-color: #1a1b29;
}

#filterDropdown select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
    #wrapper {
      margin: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding-top: 2rem;
    }

    .animalCardWrapper {
      width: 300px; 
      height: 450px; 
      display: flex;
      padding: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: #1d759e;
      scale: 0.9;
      gap: 0.5rem;  
      position: relative; /* Add relative positioning */
    }

    .animalCardWrapper:hover {
    box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.86); 
    transition: box-shadow 0.7s ease;
  }

  .predators{
    background-color: #da5c53;
  }
  .poisonous{
    background-color: #c98a52;
  }
  .reptiles{
    background-color: #3c733c;
  }
  .seaCreatures{
    background-color: #655196;
  }
  .marineGiants{
    background-color: #1d759e;
  }
  .largeMammals{
    background-color: #917a4e;
  }
  .landMammals{
    background-color: #87964c;
  }
  .birds{
    background-color: #329898;
  }



  .animalCard {
    width: 100%; 
    height: 100%; 
    background-image: linear-gradient(rgb(20, 63, 84), rgb(9, 12, 22));
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    position: relative; /* Add relative positioning */
}

    .animalCardHeader {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 0.8rem;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
    }

    .animalName {
      font-weight: bold;
    }

    .animalGroupNumber {
      padding: 0.5rem;
      background-color: white;
      color: black;
      display: flex;
      height: 1rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      width: 1.5rem;
      font-weight: bolder;
    }

    .animalIcon {
      padding: 0.5rem;
      background-color: rgb(30, 110, 147);
      border-radius: 0.5rem;
      width: 1.5rem;  
      height: 1rem  ;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .iconPredators {
        background-color: #da5c53; /* Strong red */
        background-image: url('../main/assets/icon/predator.png');
    }
    
    .iconPoisonous {
        background-color:  #c98a52; 
        background-image: url('../main/assets/icon/poison.png'); ;
    }
    
    .iconReptiles {
        background-color:  #3c733c; 
        background-image: url('../main/assets/icon/reptile.png');
        background-size: 30px;
    }
    
    .iconSeaCreatures {
        background-color: #655196; 
        background-image: url('../main/assets/icon/sea_creatures.png');
        
    }

    .iconMarineGiants {
        background-color: #1d759e; 
        background-image: url('../main/assets/icon/sea_giants.png');
    }

    .iconLargeMammals {
        background-color: #917a4e; 
        background-image: url('../main/assets/icon/large_mammals.png');
        background-size: 30px;
    }

    .iconLandMammals {
        background-color:  #87964c; 
        background-image: url('../main/assets/icon/land_mammals2.png');
    }

    .iconBirds {
        background-color: #329898; 
        background-image: url('../main/assets/icon/bird.png');
        background-size: 30px;

    } 

    
    .animalImage {
      width: 100%;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
      margin-top: 0.3rem;
    }

    .animalDescription {
      font-size: 11px;
      background-color: #2a2f46;
      padding: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 7px;
      text-align: center;
      flex-grow: 1; /* Allow the description to grow */
    }

    .animalAttributesWrapper {
      display: flex;
      height: 7rem;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: space-evenly;
      position: absolute; /* Position absolutely */
      bottom: 1rem; /* Distance from the bottom */
      left: 1rem; /* Distance from the left */
      right: 1rem; /* Distance from the right */
    }

    .animalAttributesColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 0.5rem;
    } 

    .attributeBox {
      width: 7.5rem;
      height: 1.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 0.5rem;
      background-color: #2a2f46;
      padding: 0rem;
      gap: 1rem;
    
    }

    .attributeBox > img {
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.5rem;
    }
    .attributeValueWeight,
    .attributeValueYears,
    .attributeValueBabies,
    .attributeValueLenght,
    .attributeValueSpeed,
    .attributeValueDeath {
        font-size: 13px;
    }
